#outer{
    width: 100%;
}
#intro{
    height: 750px; 
    width: 80%; 
    font-family: cursive;
     position: relative;
     text-align: center;
      background-color:  rgb(234, 239, 243);
      
        float: right;
         display: inline; 
         align-items: center;
         padding-top: 148px;
         background-image: url(./task.jpg);
         
         height: 600px;
          

}
#introbtn{
    height: 48px; 
    width: 160px; 
    background-color: rgb(0, 0, 0); 
    color: wheat; 
    border-radius: 5px;
     margin: 10px;
      position: relative; 
      
      cursor: pointer;
}
#introbtn:hover{
      background-color:cyan;
      color: black;
}

/* left side static */
#leftbar{
    width: 20%;
    height: 750px;
    padding-top: 0px;
    background-color: rgb(11, 17, 1);
    position:fixed;
    padding-left: -4px;
    
}
#imgicon {
    padding: 30px;
    border-radius: 50%;
}

#header{
    float: right; 
    padding-right: 10px; 
    text-align:right;
}
/* heading name */
#heading1{
    color: aqua; 
    float: right;
    padding-top: 10px;
    padding-left: 30px;
}
/* heading content */
#hyper{
    padding-left: 30px; 
    color: darkgray;
}
#leftsb{
    color: rgb(10, 25, 53);
    padding-right: 80%;
    padding-top: 20%;
}

/* button properties */
button[class="bt1"]{
    width: 300px;
    background-color: rgb(11, 17, 1);
    color: darkgray;
    height: 50px;
    font-style: oblique;
    font-family: cursive;
    
}

button:hover{
    transition: width 2s;
    width: 310px;
    color: rgb(0, 0, 1);
    background-color: rgb(207, 243, 150);
}
#footer{
    color: darkgray;
    padding-top: 150px;
    padding-left: 40px;
}
#footi:hover{
    outline-color: chartreuse;
    color: cornsilk;
    
}

#fab:hover{
    color: cyan;
 }
 